@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Outfit:wght@400;700&display=swap');

:root {

    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);

}

.container {
    padding: 10px 10px;
    margin: 10px 10px;
    background-color:var(--white);
    border-radius: 18px;
    width: 320px;

}

.container img {
    width: 300px;
    border-radius: 18px;
}

.container h1 {
    padding: 8px;
    font-size: 1.2rem;
    color: var(--dark-blue);
    text-align: center;
    font-weight: 400, 700;
}
.container p{
    color:var(--grayish-blue);
    padding: 10px;
    text-align: center;
    font-weight: 400, 700;
    font-size: 15px;
}

.attribution a {
    text-decoration: none;

}
.attribution {
    font-family: 'Outfit', sans-serif;
    font-weight: 400, 700;
}

@media (min-width :375px) {
    .container {
        width: 320px;
    }
}